# Generated code
sutori.cabal
Parser.hs
Lexer.hs

# Generated Binaries
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi

# Generated
*.aux
*.eventlog
*.hp
*.prof
.HTF/
.cabal-sandbox/
.hpc
.hsenv
.stack-work/
cabal-dev
cabal.project.local
cabal.sandbox.config
dist
dist-*

# Temp files
*~
